@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Ga+Maamli&display=swap');
p {
    font-size: 20px;
    color: hsla(360, 100%, 50%, 1);
    text-decoration: underline;
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
}
.primeiro {
    color: black;
    font-weight: 400;
    font-style: normal;
    font-family: "Baskervville SC", serif;
}
.panico {
    background-image: url("https://http2.mlstatic.com/D_NQ_NP_946799-MLB72787405743_112023-O.webp");
    width: 250px;
    height: 250px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 100%;
}